<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search results</title>
</head>
<body>
    <h1>
        Search results
    </h1>
    <section>
        <!-- <%searchResults.forEach(result=>{%>
            <div>
           <p><%=result.name%></p>
           <p><%=result.specialty%></p>
           <p><%=result.availabilty%></p>
           <p><%=result.phonenumber%></p>
           <p><%=result.location%></p> -->
           <form action="/client/appointments/search" method="post">
            
            <button type="submit">Reseve</button>
    </div>
            <!-- <%})%> -->
    </section>
    
   
</body>
</html>